<h3>Lehrer erstellen</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Vornamen</label>
            <input type="text" class="form-control" id="vorname" required [(ngModel)]="lehrer.vorname" name="vorname">
        </div>

        <div class="form-group">
            <label for="name">Nachnamen</label>
            <input type="text" class="form-control" id="nachname" required [(ngModel)]="lehrer.nachname" name="nachname">
        </div>

        <div class="form-group">
            <label for="name">Fachbereich</label>
            <input type="text" class="form-control" id="fachbereich" required [(ngModel)]="lehrer.fachbereich" name="fachbereich">
        </div>

        <button type="submit" class="btn btn-success">Erstellen</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Erfolgreich erstellt</h4>
</div>
