<div *ngIf="employee">
    <div>
        <label>Vorname: </label> {{lehrer.vorname}}
    </div>
    <div>
        <label>Nachname: </label> {{lehrer.nachname}}
    </div>
    <div>
        <label>Fachbereich: </label> {{lehrer.fachbereich}}
    </div>
    <div>
        <label>ID: </label> {{lehrer.id}}
    </div>

    <span class="button is-small btn-danger" (click)='deleteEmployee()'>Delete</span>

    <hr/>
</div>
