<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Lehrer</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Fachbereich</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lehr of lehrer | async">
                    <td>{{lehr.vorname}}</td>
                    <td>{{lehr.nachname}}</td>
                    <td>{{lehr.fachbereich}}</td>
                    <td>
                      <button (click)="deleteLehrer(lehr.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
